.character {
    height: 310px;
    text-align: left;
    font-size: 20px;
    position: relative;

    img {
        display: inline-block;
        border-radius: 10px;
    }

    .character-data {
        display: inline-block;
        margin: 20px;
        position: absolute;
        width: 80%;
        
        td {
            font-size: 20px;
            vertical-align: top;
        
            &:first-child {
                color: rgb(240, 156, 0);
            }

            &.episodes {
                max-height: 100px;
                position: absolute;
                overflow-y: auto;
            }
        }
    }
}